# todo:add your paths here

# Application:
PATH_TO_SPOTIFY= your_spotify_path_here

#Browsers:
PATH_TO_OPERA_GX= your_opera_gx_path_here
PATH_TO_BRAVE= your_brave_path_here
PATH_TO_THORIUM= your_thorium_path_here
PATH_TO_FIREFOX=your_firefox_path_here
PATH_TO_EDGE=your_edge_path_here

#Game Platforms:
PATH_TO_STEAM= your_steam_path_here
PATH_TO_RIOT= your_riot_client_path_here
PATH_TO_RAZER_CORTEX=your_razer_cortex_path_here
PATH_TO_RAZER_SYNAPSE=your_razer_syntax_path_here

# CLI
PATH_TO_CMD=your_cmd_path_here(.lnk)
PATH_TO_POWERSHELL=your_power_shell_path_here(.lnk)

#AI_Responses Folder
PATH_TO_AI_RESPONSES= your_ai_response_folder_path_here